@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: 0.2s linear;
}

:root {
  --black: #161616;
  --white: #fff;
  --light-color: #808080;
  --light-bg: #f5f5f8;
  --google-color: #4285f4;
  --twitter-color: #1da1f2;
  --youtube-color: #ff0000;
  --linkedin-color: #0e76a8;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

section {
  padding: 3rem 9%;
}

.btn {
  color: var(--white);
  font-weight: 200;
  font-size: 1.7rem;
  border: 0.1rem solid var(--white);
  border-radius: 5rem;
  padding: 1.5rem 4rem;
  margin-top: 0rem;

}

.btn:hover {
  background: rgb(46, 151, 169);
  color: var(--white);
}

.heading {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

/* Header Section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 4rem 9%;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header .logo {
  margin-right: auto;
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
}

.header .logo span {
  font-weight: normal;
}

.header .navbar a {
  font-size: 1.25rem;
  color: var(--white);
  margin-left: 0.5rem;
}

.header .menu {
  /* font-size: 1.2rem; */

  font-size: 0.5rem;
  color: var(--white);
  display: none;
}

.header.active {
  background: var(--black);
  padding: 2rem 9%;
  box-shadow: 0, 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header.active .logo,
.header.active .navbar a,
.header.active .menu {
  color: var(--white);
}

/* Home Section */
.home {
  height: 400px;
  width: 100%;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/images/hero-image_5.png') no-repeat;
  background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center 45%;
  background-attachment:scroll;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: column;
  text-align: center;
  padding-bottom: 3rem;
}

.home h2
{
  font-size: 3rem;
  font-weight: bold;
  word-wrap: break-word;
  padding: 2rem;
  white-space: normal;
  margin-bottom: 5px;
  margin-top: 0rem;  
  position: relative;
  color: var(--white);
}

.home p {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-transform: none;
  color: var(--black);
}

.about .box-container .box .image {
  height: 40rem;
}

.about .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.about .box-container .box p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: var(--light-color);
  text-transform: none;
}

/* Skills Section */

.skills {
  background: var(--light-bg);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}

.skills-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
  background: var(--white);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.skills-content {
  width: 100%;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.skills-content p {
  font-size: 0.9rem;
  color: var(--font-color);
  margin: 0.5rem 0 1rem 0;
}

.skills-img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.skills-img img {
  display: block;
  width: 100%;
  height: 125px;
  transition: 0.3s;
}


/* Contact Section */
.contact {
  background: var(--light-bg);
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.contact-container .box h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.contact-container .box p {
  font-size: 1.5rem;
  columns: var(--light-color);
  margin-bottom: 2rem;
}

.contact-container form {
  flex: 1 1 42rem;
}

.contact-container form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-container form .inputBox input {
  width: 49%;
}

.contact-container form .inputBox input,
.contact-container form textarea {
  border-radius: 5rem;
  padding: 1.2rem 1.8rem;
  font-size: 1.5rem;
  color: var(--black);
  margin: 0.7rem;
}

.contact-container form textarea {
  width: 50%;
  border-radius: 1rem;
  resize: none;
  height: 15rem;
}

.contact-container form .btn {
  color: var(--black);
  background: var(--white);
  border: 0.1rem solid var(--black);
  margin-top: 1rem;
}

.contact-container form .btn:hover {
  background: rgb(46, 151, 169);
  color: var(--white);
}

/* Footer Section */

.footer p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: gray;
}

.footer {
  background: var(--white);
  text-align: center;
  margin-bottom: 2rem;
}

.footer .logo {
  font-size: 2rem;
  color: var(--black);
  font-weight: 700;
}

.footer .logo span {
  font-weight: normal;
}

.footer .socials ion-icon {
  font-size: 2.5rem;
  background: var(--light-bg);
  border-radius: 50%;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.footer .socials ion-icon:nth-child(1) {
  color: var(--twitter-color);
}

.footer .socials ion-icon:nth-child(1):hover {
  background-color: var(--twitter-color);
  color: var(--white);
}

.footer .socials ion-icon:nth-child(2) {
  color: var(--linkedin-color);
}

.footer .socials ion-icon:nth-child(2):hover {
  background-color: var(--linkedin-color);
  color: var(--white);
}

.footer .socials ion-icon:nth-child(3) {
  color: var(--github-color);
}

.footer .socials ion-icon:nth-child(3):hover {
  background-color: var(--github-color);
  color: var(--white);
}

/* Media Queries */

@media (max-width: 1920px) and (-webkit-min-device-pixel-ration:1) {

  html {
    font-size: 55%;
  }

}

@media (max-width: 1200px) {
  .header {
    padding: 3rem;
  }

  .header.active {
    padding: 2rem;
  }

  .section {
    padding: 11rem 2rem;
  }

  .home h1 {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .home {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .header .menu {
    display: block;
  }

  .header .navbar {
    position: fixed;
    top: 6.4rem;
    left: 0;
    right: 0;
    background: var(--black);
    display: flex;
    flex-flow: column;
    text-align: center;
    transform: translateX(100%);
  }

  .header .navbar.show {
    transform: translateX(0);
  }

  .header .navbar a {
    color: var(--white);
    margin: 0;
    font-size: 2rem;
    margin: 2rem 0;
  }

  .home {
    height: 100vh;
  }

  .home h1 {
    font-size: 2rem;
  }


  section {
    padding: 5rem 5em;
  }
}